body {
    background-color:#2A103E;
}
.all {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 16%;
    text-align: center; 
    padding-left: 45.5%; 
    padding-right: 45.5%;
}
